body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

#tasks-container {
    margin-top: 20px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
}

.task span {
    flex-grow: 1;
}

.add-task {
    margin-top: 20px;
    display: flex;
    text-align: center;
}

#task-input {
    flex-grow: 1;
    padding: 8px;
}

button {
    background-color: black;
    color: yellow;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;

    

}
